html,
body {
    width: 100%;
    height: 100%;
    color: white;
}

body {
    background-image: url(wp7753575.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

header {
    width: 100%;
    height: 20%;
    align-content: center;
    backdrop-filter: blur(30px);
    border: hidden;

}

.link {
    border-radius: 50px;
    padding: 20px;
    transition: all 0.3s ease;
    font-weight: 500;
    color: white;
    font-size: 20px;
}

.link:hover {
    background-color: white;
    color:black !important;
    box-shadow: 0 0 8px white;
}

main {
    margin-top: 80px;
}


.Encabezado img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.575);
}